<div class="cabecera-login">
    <div class="formulario">
       <p class="sesion">Inicio de sesión</p>
       <div class="flex justify-center mb-2">
         <img class="w-16 h-16 rounded-lg" src="../../../../assets/img/Sin título.jpg" alt="">
       </div>
       <form [formGroup]="form" (ngSubmit)="iniciarSesion()">
       <p class="inputs-clase">
        <mat-form-field appearance="outline" class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2  2xl:w-1/2">
          <mat-label>Correo electronico</mat-label>
          <input formControlName="email" type="email" matInput placeholder="Correo electronico">
          <mat-error *ngIf="form.controls.email.hasError('required')">Correo electrónico no válido</mat-error>
        </mat-form-field>
      </p>
      <p class="inputs-clase">
        <mat-form-field appearance="outline" class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2  2xl:w-1/2">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Contraseña">
          <mat-error *ngIf="form.controls.password.hasError('required')">Constraseña no es válida</mat-error>
        </mat-form-field>
      </p>
      <div class="inputs-clase">
        <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2  2xl:w-1/2">
          <app-button-general [disabled]="form.invalid || procesando" [processing]="procesando">
            Ingresar
          </app-button-general>
        </div>
      </div>
    </form>

    </div>
</div>
